{%extends 'Base/base.html'%}
{%load static%}
{%block title%}Reviews{%endblock%}

{%block content%}
    <div class="container-lg"><br>
      <br>
      <h1 style="font-family: 'Red Hat Display';font-size: 60px;">
        <b>HOW WAS YOUR EXPERIENCE?</b>
      </h1><br>
      <h2 style="font-family: 'Red Hat Display';font-size: 40px;">
        LET US HEAR FROM YOU!
      </h2> <br><br>
    </div>


    <form method="POST">
      {% csrf_token %}
      <div align="center"><table  style="font-size: 20px; color: black;text-align: left;font-family: 'Red Hat Display';"><b>{{form}}</b></table></div>
      <br>
      <div align="center"><button type="Submit" style="font-family: 'Red Hat Display';color:white;font-size: larger;background-color:black;padding: 10px 10px;text-align: center;">Submit</button></div><br><br>
    </form>

    {% for i in Reviews %}
    <div class="container" style="background-color:darkgrey;">
         <div class="row">
           <div class="col">
             <br>
             <p style="font-family: 'Red Hat Display';font-size: 17px;">
               <b>ORDER NO:{{i.ORDER_NO}}</b>
             </p>
           </div>
           <div class="col">
             <br>
             <p style="font-family: 'Red Hat Display';font-size: 17px;"> 
               <b>OWNER:{{i.OWNER}}</b>
             </p>
           </div>
           <div class="col">
             <br>
             <p style="font-family: 'Red Hat Display';font-size: 17px;">
               <b>CAR:{{i.CAR}}</b>
             </p>
           </div>
         </div>
         <p style="font-family: 'Red Hat Display';font-size: 15px;">Added by {{i.YOUR_NAME}} on {{i.date}}</p>
         <p style="font-family: 'Red Hat Display';font-size: 17px;">Rating:<b>{{i.RATINGS}}</b>/5</p>
         <p style="font-family: 'Red Hat Display';font-size: 20px;">
          "{{i.REVIEWS}}"
        </p>
        <!-- <div class="container"><br>
        <div class="row-lg">
            <p style="font-family: 'Red Hat Display';font-size: 20px;">
              
            </p> -->
        <!-- </div>
        <div class="row-lg">
          <p style="font-family: 'Red Hat Display';font-size: 20px;">
              Email:{{i.EMAIL}}
          </p>
        </div>
        <div class="row-lg">
          <p style="font-family: 'Red Hat Display';font-size: 20px;">
              "{{i.REVIEWS}}"
          </p>
        </div>
        <div class="row-lg">
          <p style="font-family: 'Red Hat Display';font-size: 15px;">
            Added 
          </p>
        </div>
        </div> -->
     </div>
    {% endfor %}  
{%endblock%}

