{%extends 'Base/base.html'%}
{%load static%}
{%block title%}LogIn{%endblock%}
{% load crispy_forms_tags %}
{%load socialaccount%}
{%providers_media_js%}

{%block content%}
<div class="container">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <h1 style="text-align: center;">Login</h1>   
                <div class="col-md-15">
                    {%if messages%}
                        {%for message in messages%}
                        <div class="alert alert-success">{{message}}</div> 
                        {%endfor%}
                    {%endif%}
                </div>                       
            {{form|crispy}}
            </fieldset>
            <div class="form-group" style="text-align: center;">
                <button class="btn btn-outline-dark" type="submit" >Login</button>
                <p>or Sign In with your</p>
            <button class="btn btn-outline-dark"><a href="{%provider_login_url "google" %}" style="text-decoration: none;">Google Account</a></button>
            </div>
        </form>
        <div class="border-top pt-3">
            <medium class="text-muted">
                Have an Account? <a class="ml-2" href="{%url 'SignIn' %}">Sign In</a>
            </medium>
        </div>
    </div>
</div>
{%endblock%}