{%extends 'Base/base.html'%}
{%load static%}
{%block title%}LogOut{%endblock%}

{%block content%}
<div class="container">
    <h1>See You again!</h1>
    <div class="border-top pt-3"></div>
        <medium class="text-muted">
        You are logged out.<a href="{%url 'LogIn' %}">Log In</a>?
        </medium>
    </div>
</div>
{%endblock%}