{%extends 'Base/base.html'%}
{%load static%}
{%block title%}Favorite Car{%endblock%}

{%block content%}
<div class="container-lg"><br>
      <h1 style="font-family: 'Red Hat Display';font-size: 60px;"> <b>FAVORITE CARS</b></h1>
    
      <br>
        <div id="cars">
        {%block auf%}
          {%if user.is_authenticated%}
          <script>const favorite_cars_url = "{% url 'FavoriteCar:FavoriteCar' %}?q="</script>
          <body id="isi"></body>
          {%else%}
          <p style="font-family: 'Red Hat Display'; font-size: 30px">
            You must sign in first.
            <a href="{% url 'SignIn' %}"><u>Sign In</u></a>
          </p>
          {%endif%}
          {%endblock auf%}
        </div>
    </div>
    <script src="{% static 'js/search.js' %}"></script>
{%endblock%}