/* FOR HOMEPAGE */
nav {font-size: 22px; background-color: black;}
nav li {padding-left:25px;}
.navbar-brand {font-size: 50px;}
div.a {
    position: absolute;
    top: 100px;
    left: 1150px;
    right: 30px;
    text-align:left;
    z-index:1;
}
.fontz {
    font-family: 'Red Hat Display';
    font-size: 20px;
}

/* FOR ARTICLES */
