{%extends 'Base/base.html'%}
{%load static%}
{%block title%}Add Articles{%endblock%}

{%block content%}
<!--CONTENT-->
<div class="container-lg"><br>
    <br>
    <h2 style="font-family: 'Red Hat Display';font-size: 40px;">
        Add Article
      </h2> <br><br>
      {% for i in add_art %}
      <div class="container" style="background-color:darkgrey;">
           <div class="row">
             <div class="col">
               <br>
               <p style="font-family: 'Red Hat Display';font-size: 17px;">
                 <b>TITLE:{{i.Title}}</b>
               </p>
             </div>
             <div class="col">
               <br>
               <p style="font-family: 'Red Hat Display';font-size: 17px;"> 
                 <b>CONTENT:{{i.Content}}</b>
               </p>
             </div>
             <div class="col">
              <br>
              <p style="font-family: 'Red Hat Display';font-size: 17px;"> 
                <b>SHORT DESCRIPTION:{{i.short_desc}}</b>
              </p>
            </div>
             
           </div>
           <p style="font-family: 'Red Hat Display';font-size: 17px;">Rating:<b>{{i.Ratings}}</b>/5</p>
           <p style="font-family: 'Red Hat Display';font-size: 20px;">
            "{{i.Article}}"
          </p>
</div>
{% endblock %}